.card-deck {
  margin-bottom: $sections-margin;
  
  .card {
    width: 45%;
    padding-bottom: $sections-margin;

    .clubs-logo {
      align-items: center;
      justify-items: center;
      margin: $sections-margin;
      height: 100px;
    }

    .card-footer {
      bottom: 0;
      position: absolute;
      text-align: center;
      width: 100%;
    }
  }
}
